@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Razer;
  src: url("./assets/Fonts/RazerF5-Reg.otf");
}

:root {
  font-family: Razer , sans-serif;
  line-height: 1;


  color-scheme: light dark;
  color: white;
  background-color: #000000;


}


